html {margin-top: 0;}

* {
	margin: 0;
}
body
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0; 
	font-family: 'Raleway', Tahoma, Geneva, sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}
.logostyle {
    width: 85px; 
    height: 80px;
}
@media only screen and (max-width: 480px) {
    .logostyle {
        width: 45px;
        height: 40px;
    }
}
.navbar {
    width: 100%;
    height: 90px;
    margin: 0;
    background-color: #7A8B8B;
}
@media only screen and (max-width: 480px) {
    .navbar {
        height: 50px;
    }
}

.navbar > ul {
	list-style-type: none;
}

.navbar > ul > li {
	display:inline;
}
.navbar > ul > li > a.navlink {
    padding-top: 25px;
}
@media only screen and (max-width: 480px) {
    .navbar > ul > li > a.navlink {
    padding-top: 10px;
    }
}

.navbar > ul > li > a{
	font-size:x-large;
	text-decoration:none;
	padding:5px 0;
	width:24%;
	height:40px;
	line-height:40px;
	/*background: linear-gradient(#485e49, #152B16); *//*For gradient, take base color and subtract #333333 for darker part*/
	color:#eee;
	float:left;
	text-align:center;
/*	border-left:1px solid #fff;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
@media only screen and (max-width: 480px) {
    .navbar > ul > li > a {
        font-size:small;
    }
}
.navbar > ul > li > a:hover {
/*	background:linear-gradient(#a2b3a1, #6f806e);*/
	color:#000;
}


/*--- addhabit.html stylesheet ---*/
#freq {
    padding-bottom: 10px; 
    padding-top: 10px; 
    margin-bottom: 2%
}

.savehabit-btn {
    background: #F0F37B; 
    padding: 10px; 
    height: 35px; 
    width: 250px;  
    margin: auto;
}

@media only screen and (max-width: 480px) {
  .savehabit-btn {
    background: #F0F37B; 
    padding: 10px; 
    height: 15px; 
    width: 125px;  
    margin: auto;
  }  
}

.savehabit-btn > a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

@media only screen and (max-width: 480px) {
    .savehabit-btn > a { font-size: 20px; }
}

.savehabit-btn > a > p {
    padding-left: 75px;
}
@media only screen and (max-width: 480px) {
    .savehabit-btn > a > p { padding-left: 40px; }
}
.day-btn {
	width: 60px;
    height: 60px;
	float: left;
	margin: 10px;
    padding: 5px;
	text-align: center;
    font-size: 40px;
	color: black;
    background-color: #72E5B8;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;  
	line-height: 60px;
}

@media only screen and (max-width: 480px) {
    .day-btn {
        width: 18px;
        height: 18px;
        float: left;
        margin: 3px;
        padding: 3px;
        text-align: center;
        font-size: 15px;
        background-color: #72E5B8;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        cursor: pointer;
    }
}

.day-btn:active, .time-btn:active {
    border: 2px solid yellow;
}

.buttonactive {
    border: 3px solid #F0F37B;
}

.time-btn {
    width: 70px;
    height: 70px;
	float: left;
	margin: 15px;
    padding: 5px;
	text-align: center;
    font-size: 40px;
	color: black;
    background-color: #72E5B8;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	line-height: 60px;
}

@media only screen and (max-width: 480px) {
    .time-btn {
        width: 20px;
        height: 20px;
        float: left;
        margin: 5px;
        padding: 5px;
        text-align: center;
        font-size: 15px;
        color: black;
        background-color: #72E5B8;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer;
    }
}

.timelabel {
    padding: 50px; width: 150px; height: 50px; padding-left: 25px
}

@media only screen and (max-width: 480px) {
    .timelabel {
        padding: 5px; width: 90px; height: 32px; padding-left: 5px; padding-top: 12px; font-size: 15px;
    }
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*--- frontpage.html stylesheet ---*/
#main {
	width: 80%;
	margin: auto auto;
	margin-top: 100px;
}

/*#header {
	margin: 0;
}*/

#appName {
	text-align: center;
	font-family: Georgia, serif;
	margin-top: 30px;
}

#description {
 	width: 100%; 
	text-align: center; 
	border-bottom: 1px solid grey; 
	line-height: 0.1em;
	margin-top: 50px;
	font-size: 13px; 	
	font-family: "Courier New", Courier, monospace;
	color: grey;	
} 

#description span { 
  	background:#fff; 
	padding:0 10px; 
}

#add-habit {
    background: #7A8B8B; 
    width: 250px; 
    height: 40px; 
    margin: auto;
    border-radius: 2px;
    display: block;      
    line-height:40px;  
    margin-top: 60px;
}

#add {
	width: 60%;
	float: right;
    text-decoration: none;
    font-family: Georgia, serif;
    color: white;
    background: #7A8B8B;
}

#plusBtn {
	width: 35%;
	float: left;
	margin-top: 7px;
}

#plusBtn img{
	float: right;
}


/*-- habits.html stylesheet ---*/

.completion-stats{
	margin-top:15%;
}
.completion-stats > p{
	display:inline;
}

.completed-but{

}

.failed-but{
	margin-left: 10%;
}

.completed-failed-buts{
	margin-top:15%;
	margin-left:8%;
}

.edit-habit > a{
	display:inline;
}

.add-habit-btn{
	margin: auto auto;
    display: block;
}

.time-icon {
    width: 20px;
    height: 20px;
    line-height:20px;
	float: left;
	margin: 15px;
    padding: 5px;
	text-align: center;
    font-size: 20px;
	color: black;
    background-color: lightgrey;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
}

.time-icon-active{
	border-style:solid;
	border-width:1px;
}

.col1{
	float: left;
    width: 20%
}

.col2{
	float: left;
    width: 50%;
}

.col3{
	float:left;
	width:15%;
}
@media only screen and (max-width: 600px) {
    .col3 {
        width:30%;
    }
}

.record{
	float:right;
	margin-right: 20%;
}

.in-a-row{
	float:left;
}

.completion-rate{
	display:inline;
}


#icon input{
    max-height: 80px;
    max-width: 80px;
    height: 10%;
    width: 10%;
    padding: 5px;
}

.add-habit-btn{
	margin-left:45%;
	margin-right:45%;
}

.edit-habit-arrow{
	margin-top: 40%;
}

.edit-habit{
	margin-left:0;
	margin-top:15%;
}

.edit-habit > a{
	display:inline;
}

